<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>ProcessRequest</servlet-name>  <!-- the name we assign to the mapping (arbitrary) -->
        <servlet-class>ProcessRequest</servlet-class> <!-- the Java class the name maps to (should be a full package path ex. com.package.MyClass) -->
    </servlet>

    <servlet-mapping>
        <servlet-name>ProcessRequest</servlet-name>  <!-- the arbitrary name we assigned above -->
        <url-pattern>/ProcessRequest</url-pattern>   <!-- the URL pattern we want mapped to this name (referred to in GET request ex. http://localhost/ProcessRequest) -->
    </servlet-mapping>

</web-app>
